.container {
  // margin: 3rem auto;
  // max-width: 1000px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  // overflow: hidden;
}

.scrollArea {
  position: fixed;
  top: 0;
  left: 0;
  // height: 100%;
  will-change: transform;
  overflow: hidden;
}

.title {
  margin-bottom: 32px;
  text-align: center;
}

.imgContainer {
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 400px;
  width: 100%;
  display: inline-block;
  margin-top: 100px;
  cursor: pointer;
}
